<a href="https://colab.research.google.com/github/Kiet2k2/phantichdulieu/blob/main/Lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BÀI THỰC HÀNH THAO TÁC DỮ LIỆU

Example 1

In [ ]:
arr = [12,-4,7,9]

In [ ]:
type(arr)

list

In [ ]:
print(arr)

[12, -4, 7, 9]

In [ ]:
arr[0]

12

In [ ]:
import pandas as pd #alias
s = pd.Series(arr)
print (s)

0    12
1    -4
2     7
3     9
dtype: int64

In [ ]:
type(s)

pandas.core.series.Series

Example 2:

In [ ]:
import pandas as pd
s2 = pd.Series([12,-4,7,9], index=['a', 'b', 'c', 'd'])
print (s2)

a    12
b    -4
c     7
d     9
dtype: int64

In [ ]:
s2.values

array([12, -4,  7,  9])

In [ ]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

DataFram

Example 3:

In [ ]:
data ={'color' : ['blue', 'green', 'yellow', 'red', 'white'],
	'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
	'price': [1.2, 1.0, 0.6,0.9,1.7]}

In [ ]:
type(data)

dict

In [ ]:
frame = pd.DataFrame(data)

In [ ]:
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [ ]:
type(frame.color)

pandas.core.series.Series

In [ ]:
frame.color

0      blue
1     green
2    yellow
3       red
4     white
Name: color, dtype: object

In [ ]:
frame['color']

0      blue
1     green
2    yellow
3       red
4     white
Name: color, dtype: object

In [ ]:
type(data)

dict

Example 4:

In [ ]:
frame2 = pd.DataFrame (frame, columns = ['object', 'price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

Example 5: Tạo columns mới với 1 giá trị mặc định ban đầu

In [ ]:
frame2['type'] ='normal'
frame2

   object  price    type
0    ball    1.2  normal
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7  normal

In [ ]:
len(frame2)

5

In [ ]:
frame2['price'][0]

1.2

Example 6: Thực hành hàm loc, iloc trong DataFrame

In [ ]:
for i in range(len(frame2)):
  if frame2['price'][i] > 1.0:
    frame2.loc[i, 'type'] = 'good' #update ith of column type with a new value
frame2

   object  price    type
0    ball    1.2    good
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7    good

Example 7:

In [ ]:
frame2['discount'] = frame2['price']*0.02
frame2

   object  price    type  discount
0    ball    1.2    good     0.024
1     pen    1.0  normal     0.020
2  pencil    0.6  normal     0.012
3   paper    0.9  normal     0.018
4     mug    1.7    good     0.034


Example 8:

In [ ]:
frame2['price_afterdiscount'] = frame2['price'] - frame2['discount']
frame2

   object  price    type  discount  price_afterdiscount
0    ball    1.2    good     0.024                1.176
1     pen    1.0  normal     0.020                0.980
2  pencil    0.6  normal     0.012                0.588
3   paper    0.9  normal     0.018                0.882
4     mug    1.7    good     0.034                1.666

Read data from csv file

Example 9:

In [ ]:
import pandas as pd
dulieuxettuyen = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/dulieuxettuyendaihoc.csv")

In [ ]:
type(dulieuxettuyen)

pandas.core.frame.DataFrame

In [ ]:
dulieuxettuyen.head(2)

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.5,A1
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.5,C

In [ ]:
dulieuxettuyen.tail(2)

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
98,99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,...,6.6,5.2,5.9,M,NaN,1,5.00,3.5,5.50,C
99,100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,...,5.6,6.6,5.8,M,NaN,2NT,5.25,2.5,4.25,C

In [ ]:
dulieuxettuyenKI = pd.DataFrame(dulieuxettuyen, columns=['T1',	'L1',	'H1',	'S1',	'V1',	'X1',	'D1',	'N1'])

In [ ]:
dulieuxettuyenKI.columns

Index(['T1', 'L1', 'H1', 'S1', 'V1', 'X1', 'D1', 'N1'], dtype='object')

In [ ]:
dulieuxettuyenKI.tail(3)

     T1   L1   H1   S1   V1   X1   D1   N1
97  8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5
98  2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8
99  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4

Read data without header

In [ ]:
import pandas as pd
dltuyensinh_withoutHeader = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/dulieuxettuyendaihoc.csv", header = None)

In [ ]:
dltuyensinh_withoutHeader.head(5)

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
0,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
1,1,7.2,7.3,6.3,7.3,7,7.9,7.3,5.5,8.4,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.5,A1
2,2,5.4,3.9,3.9,4,5.4,5.4,5.3,2.8,6.3,...,6.6,6.1,4.4,M,NaN,1,6,4,3.5,C
3,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5,...,7.9,8.1,4.6,M,NaN,1,5,6.75,4,C
4,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1

Read JSON

Example 10:

In [ ]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(16).reshape(4,4),
		index =['white', 'black', 'red','blue'],
		columns =['up', 'down', 'right', 'left'])
frame.to_json('frame.json')
#Read json-formatted data
jsonFrame = pd.read_json('frame.json')
print(jsonFrame)

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

Example 11:

In [ ]:
import pandas as pd
example11 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/example11.txt', sep='\D+', header=None, engine='python')
print (example11)

   0    1    2
0  0  123  122
1  1  124  321
2  2  125  333

Example 12:

In [ ]:
import pandas as pd
example12 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/example12.txt', sep=',', skiprows=[0,1,3,6])
print (example12)

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

Example 13:

white,red,blue,green,animal

1,5,2,3,cat

2,7,8,5,dog

3,3,6,7,horse

2,2,8,3,duck

4,4,2,1,mouse

In [ ]:
import pandas as pd
example13 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/example13.txt', skiprows=[2], nrows=3)
print (example13)

  white,red,blue,green,animal
0                 1,5,2,3,cat
1               3,3,6,7,horse
2                2,2,8,3,duck

***Filter - Dropna - Update***

Example 14:

In [ ]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(16).reshape(4,4),index = ['red', 'blue', 'yellow','white'],columns = ['ball', 'pen', 'pencil', 'paper'])
print(frame)

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [ ]:
newframe = pd.DataFrame(frame, columns=['paper','pen'])
print(newframe)

        paper  pen
red         3    1
blue        7    5
yellow     11    9
white      15   13

Example 14: Set NaN for value less than 11

In [ ]:
filteredFrame = frame[frame < 11]
print(filteredFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    NaN
white    NaN  NaN     NaN    NaN

Example 15: Drop rows that contain any NaN value

In [ ]:
dropAllNaNFrame = filteredFrame.dropna()
print (dropAllNaNFrame)

      ball  pen  pencil  paper
red    0.0  1.0     2.0    3.0
blue   4.0  5.0     6.0    7.0

Example 16: Drop rows that all of them are NaN

In [ ]:
dropNaNAllFrame = filteredFrame.dropna(how='all')
print(dropNaNAllFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    NaN

# Describe the missing data

Example 17: Describe the missing data

In [ ]:
filteredFrame.isnull().sum()

ball      1
pen       1
pencil    1
paper     2
dtype: int64

# Update for null value

Example 18: Set 0 for all NaN value

In [ ]:
print (filteredFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    NaN
white    NaN  NaN     NaN    NaN

In [ ]:
fillnazeroFrame = filteredFrame.fillna(0)
print(fillnazeroFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    0.0
white    0.0  0.0     0.0    0.0

Example 19: Write dataframe to csv file

In [ ]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

# Bài tập thực hành

In [1]:
#Câu 1
import pandas as pd
import numpy as np
df=pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv",index_col="STT")
print("Cau 1 :\n")
print(df)
#Câu 2
print("Cau 2:\n")
print("Thay thế các cột có giá trị 0:\n")
print(df.fillna(0,inplace=False))
#Câu 3
print("Câu 3:\n")
print("In ra 10 dòng đầu:\n",df.head(10))
print("In ra 10 dòng cuối:\n")
print(df.tail(10))
#Câu 4
print("Câu 4:\n")
print("Chỉnh dữ liệu thiếu tại dân tộc bằng 0:\n")
print(df['DT'].fillna(0,inplace=False))
#Câu 5
print("Câu 5:\n")
print("Hiệu chỉnh dữ liệu bằng mean:\n")
print(df['T1'].fillna(df["T1"].mean(),inplace=False))
#Câu 6
print("Câu 6:\n")
print("Sử lý dữ liệu thiếu của các cột điểm số:\n")
print(df.isnull().values.any())
print("Thống kê dữ liệu các cột:\n",df.dtypes)
is_float64=df.dtypes==float
#Chuyển các giá trị thành list
df_column_list=df.columns[is_float64].tolist()
print("Danh sách cột cảu bảng có giá trị float , các cột có dữ liệu là chứ bỏ qua: \n",df_column_list)
def fill(col):
    return df[col].fillna(df[col].mean(),inplace=False)
for col in df_column_list:
    fill(col)
print("Bảng sau khi hiệu chỉnh:\n",df)
#Câu 7
print("Câu 7:\n")
for i in ['1','2','6']:
    df["TBM"+i] = (df["T"+i]*2 + df["L"+i]+ df["H"+i]+ df["S"+i]+ + df["V"+i]*2 + df["X"+i]+ df["D"+i]+ df["N"+i])/10
#Đổi tên cột
df.rename(columns={"TBM6":"TBM3"},inplace = True)
print("Dứ liệu sau khi thêm tào các cột TBM:\n",df)
#Câu 8
print("Câu 8:Xếp loại\n")
for i in ["1","2","3"]:
    df.loc[df['TBM'+i]<=5,'XL'+i]='Y'
    df.loc[(df['TBM'+i]<=6.5) & (df['TBM'+i]>5),'XL'+i]='TB'
    df.loc[(df['TBM'+i]<=8) & (df['TBM'+i]>6.5),'XL'+i]='K'
    df.loc[(df['TBM'+i]<=9) & (df['TBM'+i]>8),'XL'+i]='G'
    df.loc[df['TBM'+i]>=9,'XL'+i]='XS'

print(df)
#Câu 9
print("Câu 9:\n")
for i in ['1','2','3']:
    df["US_TBM"+i] = df["TBM"+i]/10 *4

print(df)
#Câu 10
print("Câu 10:\n")
for i in df['KT'].unique():
    str(i)
    df.loc[(i == "Al" or i == "A") & (((df["DH1"]*2 + df["DH2"] + df["DH3"])/4) >= 5), "KQXT"] = 1#điều kiện lọc có th
    df.loc[(i == "Al" or i == "A") & (((df["DH1"]*2 + df["DH2"] + df["DH3"])/4) < 5), "KQXT"]  = 0
    df.loc[(i== "B") & (( (df["DH1"] + df["DH2"]*2 + df["DH3"])/4) >= 5), "KQXT"] = 1 
    df.loc[(i == "B") & (( (df["DH1"] + df["DH2"]*2 + df["DH3"])/4) < 5), "KQXT"] = 0
    df.loc[ (i != "A1" or i != "A" or i ==  "B") & (((df["DH1"] + df["DH2"] + df["DH3"])/3) >= 5), "KQXT"] = 1
    df.loc[ (i != "A1" or i != "A" or i ==  "B") & (((df["DH1"] + df["DH2"] + df["DH3"])/3) < 5), "KQXT"] = 0
print(df.head(10))
#Câu 11
print("Cau 11")
df.to_csv('processed_dulieuxettuyendaihoc.csv')

Cau 1 :

      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...   X6   D6   N6  GT  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  6.6  7.6  5.9   F
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...  6.6  6.1  4.4   M
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...  7.9  8.1  4.6   M
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  7.1  7.3  7.4   M
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...  6.1  7.5  7.2   M
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  6.8  ...  6.3  6.1  6.2   F
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  4.8  ...  7.9  7.5  4.4   F
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  7.3  ...  9.6  8.4  5.8   M
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  5.7  ...  6.6  5.2  5.9   M
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  6.4  ...  5.6  6.6  5.8   M

     DT   KV   DH1   DH2   DH3  KT
STT
1   NaN  2NT  3.25  3.25  4.50  A1
2   NaN    1  6.00  4.00  3.50   C
3   NaN    1  5.00  6.75  4.00   C
4   NaN    1  4.25  4.25  5.25  D1
5   NaN  2NT  4.25  4.50  5.00   A
..   ..  ...   ...   ...   ...  ..
96  NaN    1  5.25  1.50  6.25   C
97  NaN    1  5.25  3.75  4.75   C
98  NaN  2NT  7.00  8.00  4.00   C
99  NaN    1  5.00  3.50  5.50   C
100 NaN  2NT  5.25  2.50  4.25   C

[100 rows x 55 columns]
Cau 2:

Thay thế các cột có giá trị 0:

      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...   X6   D6   N6  GT  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  6.6  7.6  5.9   F
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...  6.6  6.1  4.4   M
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...  7.9  8.1  4.6   M
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  7.1  7.3  7.4   M
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...  6.1  7.5  7.2   M
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  6.8  ...  6.3  6.1  6.2   F
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  4.8  ...  7.9  7.5  4.4   F
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  7.3  ...  9.6  8.4  5.8   M
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  5.7  ...  6.6  5.2  5.9   M
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  6.4  ...  5.6  6.6  5.8   M

      DT   KV   DH1   DH2   DH3  KT
STT
1    0.0  2NT  3.25  3.25  4.50  A1
2    0.0    1  6.00  4.00  3.50   C
3    0.0    1  5.00  6.75  4.00   C
4    0.0    1  4.25  4.25  5.25  D1
5    0.0  2NT  4.25  4.50  5.00   A
..   ...  ...   ...   ...   ...  ..
96   0.0    1  5.25  1.50  6.25   C
97   0.0    1  5.25  3.75  4.75   C
98   0.0  2NT  7.00  8.00  4.00   C
99   0.0    1  5.00  3.50  5.50   C
100  0.0  2NT  5.25  2.50  4.25   C

[100 rows x 55 columns]
Câu 3:

In ra 10 dòng đầu:
       T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...   X6   D6   N6  GT  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  6.6  7.6  5.9   F
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...  6.6  6.1  4.4   M
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...  7.9  8.1  4.6   M
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  7.1  7.3  7.4   M
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...  6.1  7.5  7.2   M
6    9.3  7.6  7.9  8.6  7.0  7.3  7.7  7.9  9.6  7.8  ...  5.7  8.0  7.8   M
7    2.8  3.9  5.5  6.9  5.0  7.3  4.6  5.2  4.4  6.7  ...  6.6  6.0  6.0   F
8    8.3  6.0  7.6  5.1  7.5  4.7  5.8  7.2  6.7  6.3  ...  7.1  6.8  7.0   F
9    6.5  6.3  7.6  6.0  5.5  7.1  6.3  5.0  7.3  6.8  ...  9.1  7.9  6.1   F
10   7.3  5.9  4.7  7.1  6.7  7.9  6.7  7.7  8.0  6.8  ...  6.4  6.1  7.8   F

     DT   KV   DH1   DH2   DH3  KT
STT
1   NaN  2NT  3.25  3.25  4.50  A1
2   NaN    1  6.00  4.00  3.50   C
3   NaN    1  5.00  6.75  4.00   C
4   NaN    1  4.25  4.25  5.25  D1
5   NaN  2NT  4.25  4.50  5.00   A
6   NaN    1  1.50  4.00  6.00  D1
7   NaN    2  6.50  6.75  5.25   C
8   NaN    2  3.75  4.50  4.25  D1
9   NaN    1  3.50  3.50  6.75  D1
10  NaN    1  4.00  4.75  5.50  D1

[10 rows x 55 columns]
In ra 10 dòng cuối:

      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...   X6   D6   N6  GT  \
STT                                                    ...
91   8.1  7.7  9.1  8.5  6.1  8.6  8.8  7.3  8.8  8.3  ...  8.3  8.7  7.8   M
92   7.8  6.5  6.7  5.4  6.2  4.8  5.9  4.4  8.9  6.9  ...  7.2  7.4  7.0   M
93   5.0  6.6  6.5  7.2  5.8  6.7  6.4  6.0  6.8  6.1  ...  5.9  6.7  5.8   M
94   5.2  5.2  6.8  7.9  6.6  8.9  7.6  5.3  6.8  5.8  ...  8.7  7.8  5.0   M
95   5.8  5.9  7.6  6.1  5.3  8.1  6.1  5.0  6.4  7.2  ...  7.3  6.8  5.3   M
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  6.8  ...  6.3  6.1  6.2   F
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  4.8  ...  7.9  7.5  4.4   F
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  7.3  ...  9.6  8.4  5.8   M
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  5.7  ...  6.6  5.2  5.9   M
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  6.4  ...  5.6  6.6  5.8   M

     DT   KV   DH1   DH2   DH3  KT
STT
91  NaN    2  6.25  4.00  6.50   A
92  NaN  2NT  4.75  4.75  4.50   A
93  NaN    1  3.25  5.25  4.25   A
94  NaN    1  3.50  4.25  5.00   A
95  NaN    1  4.25  2.50  4.75   A
96  NaN    1  5.25  1.50  6.25   C
97  NaN    1  5.25  3.75  4.75   C
98  NaN  2NT  7.00  8.00  4.00   C
99  NaN    1  5.00  3.50  5.50   C
100 NaN  2NT  5.25  2.50  4.25   C

[10 rows x 55 columns]
Câu 4:

Chỉnh dữ liệu thiếu tại dân tộc bằng 0:

STT
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
96     0.0
97     0.0
98     0.0
99     0.0
100    0.0
Name: DT, Length: 100, dtype: float64
Câu 5:

Hiệu chỉnh dữ liệu bằng mean:

STT
1      7.2
2      5.4
3      5.6
4      6.6
5      6.0
      ...
96     8.6
97     3.7
98     8.8
99     2.7
100    4.1
Name: T1, Length: 100, dtype: float64
Câu 6:

Sử lý dữ liệu thiếu của các cột điểm số:

True
Thống kê dữ liệu các cột:
 T1     float64
L1     float64
H1     float64
S1     float64
V1     float64
X1     float64
D1     float64
N1     float64
T2     float64
L2     float64
H2     float64
S2     float64
V2     float64
X2     float64
D2     float64
N2     float64
T3     float64
L3     float64
H3     float64
S3     float64
V3     float64
X3     float64
D3     float64
N3     float64
T4     float64
L4     float64
H4     float64
S4     float64
V4     float64
X4     float64
D4     float64
N4     float64
T5     float64
L5     float64
H5     float64
S5     float64
V5     float64
X5     float64
D5     float64
N5     float64
T6     float64
L6     float64
H6     float64
S6     float64
V6     float64
X6     float64
D6     float64
N6     float64
GT      object
DT     float64
KV      object
DH1    float64
DH2    float64
DH3    float64
KT      object
dtype: object
Danh sách cột cảu bảng có giá trị float , các cột có dữ liệu là chứ bỏ qua:
 ['T1', 'L1', 'H1', 'S1', 'V1', 'X1', 'D1', 'N1', 'T2', 'L2', 'H2', 'S2', 'V2', 'X2', 'D2', 'N2', 'T3', 'L3', 'H3', 'S3', 'V3', 'X3', 'D3', 'N3', 'T4', 'L4', 'H4', 'S4', 'V4', 'X4', 'D4', 'N4', 'T5', 'L5', 'H5', 'S5', 'V5', 'X5', 'D5', 'N5', 'T6', 'L6', 'H6', 'S6', 'V6', 'X6', 'D6', 'N6', 'DT', 'DH1', 'DH2', 'DH3']
Bảng sau khi hiệu chỉnh:
       T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...   X6   D6   N6  GT  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  6.6  7.6  5.9   F
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...  6.6  6.1  4.4   M
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...  7.9  8.1  4.6   M
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  7.1  7.3  7.4   M
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...  6.1  7.5  7.2   M
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  6.8  ...  6.3  6.1  6.2   F
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  4.8  ...  7.9  7.5  4.4   F
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  7.3  ...  9.6  8.4  5.8   M
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  5.7  ...  6.6  5.2  5.9   M
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  6.4  ...  5.6  6.6  5.8   M

     DT   KV   DH1   DH2   DH3  KT
STT
1   NaN  2NT  3.25  3.25  4.50  A1
2   NaN    1  6.00  4.00  3.50   C
3   NaN    1  5.00  6.75  4.00   C
4   NaN    1  4.25  4.25  5.25  D1
5   NaN  2NT  4.25  4.50  5.00   A
..   ..  ...   ...   ...   ...  ..
96  NaN    1  5.25  1.50  6.25   C
97  NaN    1  5.25  3.75  4.75   C
98  NaN  2NT  7.00  8.00  4.00   C
99  NaN    1  5.00  3.50  5.50   C
100 NaN  2NT  5.25  2.50  4.25   C

[100 rows x 55 columns]
Câu 7:

Dứ liệu sau khi thêm tào các cột TBM:
       T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...  GT  DT   KV   DH1  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...   F NaN  2NT  3.25
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...   M NaN    1  6.00
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...   M NaN    1  5.00
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...   M NaN    1  4.25
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...   M NaN  2NT  4.25
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..  ..  ...   ...
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  6.8  ...   F NaN    1  5.25
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  4.8  ...   F NaN    1  5.25
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  7.3  ...   M NaN  2NT  7.00
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  5.7  ...   M NaN    1  5.00
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  6.4  ...   M NaN  2NT  5.25

      DH2   DH3  KT  TBM1  TBM2  TBM3
STT
1    3.25  4.50  A1  7.00  7.54  7.01
2    4.00  3.50   C  4.69  5.47  5.07
3    6.75  4.00   C  5.77  5.38  6.04
4    4.25  5.25  D1  6.21  5.20  6.88
5    4.50  5.00   A  6.50  6.36  6.99
..    ...   ...  ..   ...   ...   ...
96   1.50  6.25   C  7.43  7.42  6.83
97   3.75  4.75   C  4.93  5.15  6.39
98   8.00  4.00   C  7.05  7.84  7.67
99   3.50  5.50   C  4.15  4.72  5.29
100  2.50  4.25   C  5.26  5.72  5.85

[100 rows x 58 columns]
Câu 8:Xếp loại

      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...   DH1   DH2   DH3  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  3.25  3.25  4.50
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...  6.00  4.00  3.50
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...  5.00  6.75  4.00
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  4.25  4.25  5.25
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...  4.25  4.50  5.00
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  6.8  ...  5.25  1.50  6.25
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  4.8  ...  5.25  3.75  4.75
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  7.3  ...  7.00  8.00  4.00
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  5.7  ...  5.00  3.50  5.50
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  6.4  ...  5.25  2.50  4.25

     KT  TBM1  TBM2  TBM3  XL1  XL2  XL3
STT
1    A1  7.00  7.54  7.01    K    K    K
2     C  4.69  5.47  5.07    Y   TB   TB
3     C  5.77  5.38  6.04   TB   TB   TB
4    D1  6.21  5.20  6.88   TB   TB    K
5     A  6.50  6.36  6.99   TB   TB    K
..   ..   ...   ...   ...  ...  ...  ...
96    C  7.43  7.42  6.83    K    K    K
97    C  4.93  5.15  6.39    Y   TB   TB
98    C  7.05  7.84  7.67    K    K    K
99    C  4.15  4.72  5.29    Y    Y   TB
100   C  5.26  5.72  5.85   TB   TB   TB

[100 rows x 61 columns]
Câu 9:

      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...  KT  TBM1  TBM2  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  A1  7.00  7.54
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...   C  4.69  5.47
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...   C  5.77  5.38
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  D1  6.21  5.20
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...   A  6.50  6.36
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..   ...   ...
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  6.8  ...   C  7.43  7.42
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  4.8  ...   C  4.93  5.15
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  7.3  ...   C  7.05  7.84
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  5.7  ...   C  4.15  4.72
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  6.4  ...   C  5.26  5.72

     TBM3  XL1  XL2  XL3  US_TBM1  US_TBM2  US_TBM3
STT
1    7.01    K    K    K    2.800    3.016    2.804
2    5.07    Y   TB   TB    1.876    2.188    2.028
3    6.04   TB   TB   TB    2.308    2.152    2.416
4    6.88   TB   TB    K    2.484    2.080    2.752
5    6.99   TB   TB    K    2.600    2.544    2.796
..    ...  ...  ...  ...      ...      ...      ...
96   6.83    K    K    K    2.972    2.968    2.732
97   6.39    Y   TB   TB    1.972    2.060    2.556
98   7.67    K    K    K    2.820    3.136    3.068
99   5.29    Y    Y   TB    1.660    1.888    2.116
100  5.85   TB   TB   TB    2.104    2.288    2.340

[100 rows x 64 columns]
Câu 10:

      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...  TBM1  TBM2  TBM3  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  7.00  7.54  7.01
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...  4.69  5.47  5.07
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...  5.77  5.38  6.04
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  6.21  5.20  6.88
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...  6.50  6.36  6.99
6    9.3  7.6  7.9  8.6  7.0  7.3  7.7  7.9  9.6  7.8  ...  7.96  8.54  7.38
7    2.8  3.9  5.5  6.9  5.0  7.3  4.6  5.2  4.4  6.7  ...  4.90  5.60  6.01
8    8.3  6.0  7.6  5.1  7.5  4.7  5.8  7.2  6.7  6.3  ...  6.80  6.87  7.03
9    6.5  6.3  7.6  6.0  5.5  7.1  6.3  5.0  7.3  6.8  ...  6.23  6.72  7.56
10   7.3  5.9  4.7  7.1  6.7  7.9  6.7  7.7  8.0  6.8  ...  6.80  7.25  7.03

     XL1  XL2  XL3  US_TBM1  US_TBM2  US_TBM3  KQXT
STT
1      K    K    K    2.800    3.016    2.804   0.0
2      Y   TB   TB    1.876    2.188    2.028   0.0
3     TB   TB   TB    2.308    2.152    2.416   1.0
4     TB   TB    K    2.484    2.080    2.752   0.0
5     TB   TB    K    2.600    2.544    2.796   0.0
6      K    G    K    3.184    3.416    2.952   0.0
7      Y   TB   TB    1.960    2.240    2.404   1.0
8      K    K    K    2.720    2.748    2.812   0.0
9     TB    K    K    2.492    2.688    3.024   0.0
10     K    K    K    2.720    2.900    2.812   0.0

[10 rows x 65 columns]
Cau 11